<ng-container>

  <div class="my-sidebar" [ngClass]="{ 'visible': isVisible }">

    <div class="my-sidebar__header">

      <div class="close-button">
        <button
          class="my-button-icon-only primary"
          (click)="onClickToggle(false)">
          <em class="fas fa-times"> </em>
        </button>
      </div>

    </div>

    <div class="my-sidebar__body">
      <ng-content> </ng-content>
    </div>

    <div class="my-sidebar__footer">

      <div class="language en" (click)="onClickChangeLanguage(languageEnum.En)">
        <img src="../../../../assets/images/flags/en.png">
      </div>

      <div class="language es" (click)="onClickChangeLanguage(languageEnum.Es)">
        <img src="../../../../assets/images/flags/es.png">
      </div>

    </div>

  </div>

  <div class="my-sidebar-overlay" [ngClass]="{ 'visible': isVisible }" (click)="onClickToggle(false)"> </div>

</ng-container>
