<ng-container *transloco="let t">

  <h4 class="subtitle"> {{ t('about.subtitle') }} </h4>
  <h2> {{ t('about.title') }} </h2>
  <p> {{ t('about.paragraphs.p1') }} </p>
  <p> {{ t('about.paragraphs.p2') }} </p>

  <div class="main-image-container fade-in-bottom animation-delay-09">
    <img src="assets/images/sections/about/presentation.png" [alt]="t('imageAlts.presentation')" class="main-image pulsate-fwd animation-delay-2" />
    <div class="circle circle-1 reverse"> </div>
    <div class="circle circle-2 reverse"> </div>
  </div>

</ng-container>
