<ng-container *transloco="let t">

  <div class="header-layout" [ngClass]="{ 'hide': !isHeaderVisible}">

    <div class="header-layout__menu">
      <button
        class="menu-button my-button-icon-only primary"
        (click)="onClickOpenNavBar()">
        <em class="fas fa-bars"> </em>
      </button>
    </div>

    <div class="header-layout__actions">

      <div class="links">
        <button
          class="my-button-text primary selectable"
          [ngClass]="{ 'selected-text-only': navigationSection === sectionEnum.Home }"
          (click)="onClickNavigateTo(sectionEnum.Home)">
            {{ t('header.home') }}
        </button>
        <button
          class="my-button-text primary selectable"
          [ngClass]="{ 'selected-text-only': navigationSection === sectionEnum.About }"
          (click)="onClickNavigateTo(sectionEnum.About)">
            {{ t('header.about') }}
        </button>
        <button
          class="my-button-text primary selectable"
          [ngClass]="{ 'selected-text-only': navigationSection === sectionEnum.Portfolio }"
          (click)="onClickNavigateTo(sectionEnum.Portfolio)">
            {{ t('header.portfolio') }}
        </button>
        <button
          class="my-button-text primary selectable"
          [ngClass]="{ 'selected-text-only': navigationSection === sectionEnum.Contact }"
          (click)="onClickNavigateTo(sectionEnum.Contact)">
            {{ t('header.contact') }}
        </button>
      </div>

      <div class="options">

        <div class="language en" (click)="onClickChangeLanguage(languageEnum.En)">
          <img src="../../../assets/images/flags/en.png">
        </div>

        <div class="language es" (click)="onClickChangeLanguage(languageEnum.Es)">
          <img src="../../../assets/images/flags/es.png">
        </div>

      </div>

    </div>

  </div>

</ng-container>
