<ng-container *transloco="let t">

  <div class="header-layout" [ngClass]="{ 'hide': !isHeaderVisible}">

    <div class="header-layout__logo">
      <img src="../../../assets/images/logo/logo-transparent.webp" alt="logo" class="logo" />
    </div>

    <div class="header-layout__actions">

      <div class="links">
        <button
          class="my-button-text primary selectable"
          [ngClass]="{ 'selected': navigationSection === sectionEnum.Home }"
          (click)="onClickNavigateTo(sectionEnum.Home)">
            {{ t('header.home') }}
        </button>
        <button
          class="my-button-text primary selectable"
          [ngClass]="{ 'selected': navigationSection === sectionEnum.About }"
          (click)="onClickNavigateTo(sectionEnum.About)">
            {{ t('header.about') }}
        </button>
        <button
          class="my-button-text primary selectable"
          [ngClass]="{ 'selected': navigationSection === sectionEnum.Portfolio }"
          (click)="onClickNavigateTo(sectionEnum.Portfolio)">
            {{ t('header.portfolio') }}
        </button>
        <button
          class="my-button-text primary selectable"
          [ngClass]="{ 'selected': navigationSection === sectionEnum.Contact }"
          (click)="onClickNavigateTo(sectionEnum.Contact)">
            {{ t('header.contact') }}
        </button>
      </div>

      <div class="options">

        <div class="theme" (click)="onClickChangeTheme(themeEnum.Dark)">
          D
        </div>

        <div class="language en" (click)="onClickChangeLanguage(languageEnum.En)">
          EN
        </div>

        <div class="language es" (click)="onClickChangeLanguage(languageEnum.Es)">
          ES
        </div>

      </div>

    </div>

  </div>

</ng-container>
