@import 'src/styles/mixins.scss';

div.header-layout {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3.5rem;
  background-color: var(--background-color);
	box-shadow: 0 0.5rem 1rem #00000026;
  padding: 0 2rem;
  z-index: 1;

  div.header-layout__menu {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;

    @include responsive(tablet) {
      display: flex;
    }
  }

  div.header-layout__actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;

    @include responsive(tablet) {
      justify-content: flex-end;
    }

    div.links {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 2rem;

      @include responsive(tablet) {
        display: none;
      }
    }

    div.options {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      cursor: pointer;

      div.language {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;

        img {
          width: 100%;
        }
      }
    }
  }

  &.hide {
    //transform: translateY(-3.5rem);
  }
}
