<ng-container *transloco="let t">

  <div class="title">
    <h2> {{ t('home.title.t1') }} </h2>
    <img src="assets/images/profile/profile.jpg" [alt]="t('imageAlts.profilePicture')" class="profile" />
  </div>

  <h2> {{ t('home.title.t2') }} </h2>

  <app-type-delete #typeDeleteComponent [wordArray]="wordArray"> </app-type-delete>

  <div class="home-main-image-container">
    <img src="assets/images/sections/home/developer-at-work.webp" [alt]="t('imageAlts.developerAtWork')" class="home-main-image" />
     <div class="circle circle-1"> </div>
     <div class="circle circle-2"> </div>
  </div>

</ng-container>
