@import 'src/styles/mixins.scss';

div.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  img.profile {
    border-radius: 44% 56% 47% 53% / 57% 38% 62% 43%;
    height: 75px;
    width: 75px;
    margin-left: 2rem;

    @include responsive(tablet) {
      height: 60px;
      width: 60px;
      margin-left: 1.5rem;
    }

    @include responsive(smartphone) {
      height: 40px;
      width: 40px;
      margin-left: 1rem;
    }
  }
}

app-type-delete {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

div.home-main-image-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1rem;

  img.home-main-image {
    max-width: 100%;
  }

  div.circle {
    position: absolute;
    width: 70%;
    height: 70%;
    z-index: -1;

    &.circle-1 {
      top: 3rem;
      left: 3rem;
      background: #ECEFFD;
      border-radius: 70% 50% 50% 70% / 50% 50% 70% 70%;
    }

    &.circle-2 {
      bottom: 3rem;
      right: 3rem;
      background: #ECEFFD;
      border-radius: 80% 30% 70% 50% / 50%;
    }
  }
}
