button.my-button-text {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  position: relative;
  border: none;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 10px;
  padding: 0 1rem;
  height: 36px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size);
  font-weight: 300;
  text-align: center;
  font-family: inherit;
  transition: color 0.2s ease-in-out;
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;
  background: transparent;
  color: var(--text-color);

  &:hover {
    color: var(--color-primary);
  }

  &:active {
    color: var(--color-primary-dark);
  }

  &.selectable::after {
    position: absolute;
    bottom: 0;
    content: "";
    width: 0;
    height: 2px;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
  }

  &.selectable.selected::after {
    background: var(--color-primary);
    width: 100%;
  }

  &.primary {
    color: var(--text-color);

    &:hover {
      color: var(--color-primary);
    }

    &:active {
      color: var(--color-primary-dark);
    }

    &.selectable.selected::after {
      background: var(--color-primary);
      width: 100%;
    }
  }

  &.secondary {
    color: var(--text-color);

    &:hover {
      color: var(--color-secondary);
    }

    &:active {
      color: var(--color-secondary-dark);
    }

    &.selectable.selected::after {
      background: var(--color-secondary);
      width: 100%;
    }
  }
}
