div.body-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5.5rem 2rem 2rem 2rem;
  background-color: var(--background-color);

  section.body-layout__section {
    text-align: center;

    &#footer {
      margin: 4rem 0 1rem 0;
    }
  }
}
