<ng-container *transloco="let t">
  <div class="body-layout">

    <section #home id="home" class="body-layout__section">
      <app-about></app-about>
    </section>

    <section #about id="about" class="body-layout__section">
      <app-about></app-about>
    </section>

    <section #portfolio id="portfolio" class="body-layout__section">
      <app-about></app-about>
    </section>

    <section #contact id="contact" class="body-layout__section">
      <app-about></app-about>
    </section>

  </div>
</ng-container>
