<ng-container *transloco="let t">
  <div class="body-layout">

    <section #home id="home" class="body-layout__section">
      <app-home></app-home>
    </section>

    <section #about id="about" class="body-layout__section">
      <app-about></app-about>
    </section>

    <section #portfolio id="portfolio" class="body-layout__section">
      <app-portfolio></app-portfolio>
    </section>

    <section #contact id="contact" class="body-layout__section">
      <app-contact></app-contact>
    </section>

    <section #footer id="footer" class="body-layout__section">
      <app-footer></app-footer>
    </section>

  </div>
</ng-container>
