<ng-container *transloco="let t">
  <div class="body-layout">

    <section class="body-layout__section">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at hendrerit ipsum. Quisque bibendum lectus vel odio commodo euismod. Sed placerat, odio et rhoncus fringilla, neque sem hendrerit quam, id posuere purus massa vitae diam. Nam sed congue nisl, a volutpat purus. Cras vitae mi in metus sollicitudin tempus. Duis sit amet dolor in dui tristique vestibulum nec at tortor. Donec quis felis tempor, posuere nisi eu, mollis diam.
    </section>

    <section class="body-layout__section">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at hendrerit ipsum. Quisque bibendum lectus vel odio commodo euismod. Sed placerat, odio et rhoncus fringilla, neque sem hendrerit quam, id posuere purus massa vitae diam. Nam sed congue nisl, a volutpat purus. Cras vitae mi in metus sollicitudin tempus. Duis sit amet dolor in dui tristique vestibulum nec at tortor. Donec quis felis tempor, posuere nisi eu, mollis diam.
    </section>

    <section class="body-layout__section">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at hendrerit ipsum. Quisque bibendum lectus vel odio commodo euismod. Sed placerat, odio et rhoncus fringilla, neque sem hendrerit quam, id posuere purus massa vitae diam. Nam sed congue nisl, a volutpat purus. Cras vitae mi in metus sollicitudin tempus. Duis sit amet dolor in dui tristique vestibulum nec at tortor. Donec quis felis tempor, posuere nisi eu, mollis diam.
    </section>

    <section class="body-layout__section">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at hendrerit ipsum. Quisque bibendum lectus vel odio commodo euismod. Sed placerat, odio et rhoncus fringilla, neque sem hendrerit quam, id posuere purus massa vitae diam. Nam sed congue nisl, a volutpat purus. Cras vitae mi in metus sollicitudin tempus. Duis sit amet dolor in dui tristique vestibulum nec at tortor. Donec quis felis tempor, posuere nisi eu, mollis diam.
    </section>

    <section class="body-layout__section">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at hendrerit ipsum. Quisque bibendum lectus vel odio commodo euismod. Sed placerat, odio et rhoncus fringilla, neque sem hendrerit quam, id posuere purus massa vitae diam. Nam sed congue nisl, a volutpat purus. Cras vitae mi in metus sollicitudin tempus. Duis sit amet dolor in dui tristique vestibulum nec at tortor. Donec quis felis tempor, posuere nisi eu, mollis diam.
    </section>

    <section class="body-layout__section">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at hendrerit ipsum. Quisque bibendum lectus vel odio commodo euismod. Sed placerat, odio et rhoncus fringilla, neque sem hendrerit quam, id posuere purus massa vitae diam. Nam sed congue nisl, a volutpat purus. Cras vitae mi in metus sollicitudin tempus. Duis sit amet dolor in dui tristique vestibulum nec at tortor. Donec quis felis tempor, posuere nisi eu, mollis diam.
    </section>

    <section class="body-layout__section">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at hendrerit ipsum. Quisque bibendum lectus vel odio commodo euismod. Sed placerat, odio et rhoncus fringilla, neque sem hendrerit quam, id posuere purus massa vitae diam. Nam sed congue nisl, a volutpat purus. Cras vitae mi in metus sollicitudin tempus. Duis sit amet dolor in dui tristique vestibulum nec at tortor. Donec quis felis tempor, posuere nisi eu, mollis diam.
    </section>

    <section class="body-layout__section">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at hendrerit ipsum. Quisque bibendum lectus vel odio commodo euismod. Sed placerat, odio et rhoncus fringilla, neque sem hendrerit quam, id posuere purus massa vitae diam. Nam sed congue nisl, a volutpat purus. Cras vitae mi in metus sollicitudin tempus. Duis sit amet dolor in dui tristique vestibulum nec at tortor. Donec quis felis tempor, posuere nisi eu, mollis diam.
    </section>

    <section class="body-layout__section">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at hendrerit ipsum. Quisque bibendum lectus vel odio commodo euismod. Sed placerat, odio et rhoncus fringilla, neque sem hendrerit quam, id posuere purus massa vitae diam. Nam sed congue nisl, a volutpat purus. Cras vitae mi in metus sollicitudin tempus. Duis sit amet dolor in dui tristique vestibulum nec at tortor. Donec quis felis tempor, posuere nisi eu, mollis diam.
    </section>

    <section #about id="about" class="body-layout__section">
      <app-about></app-about>
    </section>

    <section class="body-layout__section">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at hendrerit ipsum. Quisque bibendum lectus vel odio commodo euismod. Sed placerat, odio et rhoncus fringilla, neque sem hendrerit quam, id posuere purus massa vitae diam. Nam sed congue nisl, a volutpat purus. Cras vitae mi in metus sollicitudin tempus. Duis sit amet dolor in dui tristique vestibulum nec at tortor. Donec quis felis tempor, posuere nisi eu, mollis diam.
    </section>

    <section class="body-layout__section">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at hendrerit ipsum. Quisque bibendum lectus vel odio commodo euismod. Sed placerat, odio et rhoncus fringilla, neque sem hendrerit quam, id posuere purus massa vitae diam. Nam sed congue nisl, a volutpat purus. Cras vitae mi in metus sollicitudin tempus. Duis sit amet dolor in dui tristique vestibulum nec at tortor. Donec quis felis tempor, posuere nisi eu, mollis diam.
    </section>

    <section class="body-layout__section">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at hendrerit ipsum. Quisque bibendum lectus vel odio commodo euismod. Sed placerat, odio et rhoncus fringilla, neque sem hendrerit quam, id posuere purus massa vitae diam. Nam sed congue nisl, a volutpat purus. Cras vitae mi in metus sollicitudin tempus. Duis sit amet dolor in dui tristique vestibulum nec at tortor. Donec quis felis tempor, posuere nisi eu, mollis diam.
    </section>

    <section class="body-layout__section">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at hendrerit ipsum. Quisque bibendum lectus vel odio commodo euismod. Sed placerat, odio et rhoncus fringilla, neque sem hendrerit quam, id posuere purus massa vitae diam. Nam sed congue nisl, a volutpat purus. Cras vitae mi in metus sollicitudin tempus. Duis sit amet dolor in dui tristique vestibulum nec at tortor. Donec quis felis tempor, posuere nisi eu, mollis diam.
    </section>

    <section class="body-layout__section">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at hendrerit ipsum. Quisque bibendum lectus vel odio commodo euismod. Sed placerat, odio et rhoncus fringilla, neque sem hendrerit quam, id posuere purus massa vitae diam. Nam sed congue nisl, a volutpat purus. Cras vitae mi in metus sollicitudin tempus. Duis sit amet dolor in dui tristique vestibulum nec at tortor. Donec quis felis tempor, posuere nisi eu, mollis diam.
    </section>

    <section class="body-layout__section">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at hendrerit ipsum. Quisque bibendum lectus vel odio commodo euismod. Sed placerat, odio et rhoncus fringilla, neque sem hendrerit quam, id posuere purus massa vitae diam. Nam sed congue nisl, a volutpat purus. Cras vitae mi in metus sollicitudin tempus. Duis sit amet dolor in dui tristique vestibulum nec at tortor. Donec quis felis tempor, posuere nisi eu, mollis diam.
    </section>

    <section class="body-layout__section">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at hendrerit ipsum. Quisque bibendum lectus vel odio commodo euismod. Sed placerat, odio et rhoncus fringilla, neque sem hendrerit quam, id posuere purus massa vitae diam. Nam sed congue nisl, a volutpat purus. Cras vitae mi in metus sollicitudin tempus. Duis sit amet dolor in dui tristique vestibulum nec at tortor. Donec quis felis tempor, posuere nisi eu, mollis diam.
    </section>

    <section class="body-layout__section">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at hendrerit ipsum. Quisque bibendum lectus vel odio commodo euismod. Sed placerat, odio et rhoncus fringilla, neque sem hendrerit quam, id posuere purus massa vitae diam. Nam sed congue nisl, a volutpat purus. Cras vitae mi in metus sollicitudin tempus. Duis sit amet dolor in dui tristique vestibulum nec at tortor. Donec quis felis tempor, posuere nisi eu, mollis diam.
    </section>

    <section class="body-layout__section">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at hendrerit ipsum. Quisque bibendum lectus vel odio commodo euismod. Sed placerat, odio et rhoncus fringilla, neque sem hendrerit quam, id posuere purus massa vitae diam. Nam sed congue nisl, a volutpat purus. Cras vitae mi in metus sollicitudin tempus. Duis sit amet dolor in dui tristique vestibulum nec at tortor. Donec quis felis tempor, posuere nisi eu, mollis diam.
    </section>

    <button (click)="onClickNavigateTo('about')"> NAVIGATE TO ABOUT </button>

  </div>
</ng-container>
