<ng-container *transloco="let t">

  <h4 class="subtitle"> {{ t('contact.subtitle') }} </h4>
  <h2> {{ t('contact.title') }} </h2>
  <p> {{ t('contact.paragraphs.p1') }} </p>

  <a href="mailto:juanmi.gonzalezm@gmail.com" target="_blank" class="my-button round primary">
    <span> {{ t('app.email') }} </span>
  </a>

  <div class="main-image-container fade-in-bottom animation-delay-09">
    <img src="assets/images/sections/contact/email.png" [alt]="t('imageAlts.sendingEmail')" class="main-image pulsate-fwd animation-delay-2" />
    <div class="circle circle-1"> </div>
    <div class="circle circle-2"> </div>
  </div>

</ng-container>
