:root {
  --color-amber-50: #fdf8f3;
  --color-amber-100: #fffbeb;
  --color-amber-200: #fef3c7;
  --color-amber-300: #fde68a;
  --color-amber-400: #fcd34d;
  --color-amber-500: #fbbf24;
  --color-amber-600: #f59e0b;
  --color-amber-700: #d97706;
  --color-amber-800: #b45309;
  --color-amber-900: #92400e;
}
