@import './styles/fonts.scss';
@import './styles/headings.scss';
@import './styles/paragraphs.scss';
@import './styles/sections.scss';
@import './styles/theme.scss';

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
}
